<!DOCTYPE html>
<html>
<head>
<!-- store owner가 체인에  아이템을 추가하고 체인의 아이템을 제거할 수 있는 페이지-->
<meta charset="utf-8">
<title></title>

</head>
<script th:inline="javascript">// th:inline 항상 필요하다. 
$(function(){
	//product 리스트를 받아온다. 
	var mine = /*[[${product}]]*/ 'default'; 
});
</script>

<body>
	<div class="container">
		<div class="row">
			<div class="col-lg-9">
				<div class="row align-items-center latest_product_inner">
					<!-- ELSE -->
					<!-- 여기다가 그래프를 넣어라 -->
					<!-- 구간 설정 datePicker -->
					    <div>	
					    	<h3>상품 추가</h3>
					    	<div style="overflow: auto;">
						    	<form id = "addItemDeleteId" action="/addItemAndDelete.html" method = "post" >
						    		<div class = "form-group col-md-6">
										  <label for="fname">상품 명: </label>
										  <input class="form-control" type="text" name="product_name"><br><br>
										  <label for="lname">이미지 url: </label>
										  <input class="form-control" type="text" name="image"><br><br>
										  <label for="lname">가격 : </label>
										  <input class="form-control" type="text" name="price"><br><br>
										  <button form="addItemDeleteId" type = "submit" value = "submit" class="btn btn-primary mb-2" >submit</button>
									 </div>
						    	</form>
					    	</div>
					    	
					    	<h3>포인트 rate 조회 및 변경</h3><!-- 체인의 상품을 지우는게 아니라 체인의 한 지점의 아이템을 빼는 것이다.-->
					    	<!-- bootstrap -->
					    	<form action="pointUpdate" method = "post">
						    	<div class="form-group">
								    <label for="product_names">포인트 rate</label>
								    <!-- owner_first 즉 체인점 주인이면 포인트 적립율 변경을 가능하게 하고  -->
								    <!-- owner 즉 상점 주인이면 포인트 적립율만 볼 수 있게 한다. -->
								    <div th:if = "${session.owner == 'owner_first'}">
										<input type="text" id="point_rate" name="point_rate" th:value ="${point_rate}"><br>
								    	<input type="submit" value="Submit"  class="btn btn-primary mb-2" >
							    	</div>
								    <div th:unless = "${session.owner == 'owner_first'}">
										<h4 type="text" id="point_rate" name="point_rate" th:text ="${point_rate}"></h4><br>
							    	</div>
						    	</div>
					    	</form>
					    	
					    	<h3>기존 상품 조회 및 제거</h3><!-- 체인의 상품을 지우는게 아니라 체인의 한 지점의 아이템을 빼는 것이다.-->
					    	<!-- bootstrap -->
					    	
					    	<form action="/excludeItem.html" method = "post" th:object="${product_name}">
						    	<div class="form-group">
								    <label for="product_names">다중 선택</label>
								    <select th:field="*{product_names}" id="product_names" class="form-control"  multiple  >
								      <option  th:each="prod : ${product}" th:value = "${prod.product_name}" th:text="${prod.product_name}"></option>
								    </select>
						    	</div>
						    	<input type="submit" value="Submit"  class="btn btn-primary mb-2" >
					    	</form>
					    	
						</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>