<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>Insert title here</title>
</head>
<!-- admin이 회원을 체크하는 컨트롤러 회원 검색 ,회원 정보 파악, owner 수정하기 -->
<body>	
	<div id="input-group" style = "width:50%"  >
		<div>
			<form method="POST" enctype="multipart/form-data" action="/uploadFile">
				<table>
					<tr><td>apk파일을 업로드하세요 :</td><td><input type="file" name="file" /></td></tr>
					<tr><td></td><td><input type="submit" class="btn btn-primary"  value="Upload" /></td></tr>
				</table>
			</form>
		</div>
	
	</div>
</body>
</html>