<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>Insert title here</title>
</head>

<script>
function addToCartCheckout(product_name,store_name,chain_name,price){//체크아웃 전용  장바구니 정보와 포인트 정보를 가져와야한다. 
	alert(product_name + " " + store_name + " " + price);
	data = "product_name=" + product_name + "&price=" + price + "&sign=plus" + "&store_name=" + store_name+ "&chain_name=" + chain_name;

	$.ajax({//세션 만들어서 return 한다. 
		  url: "cartProductAdd",
		  method: "POST", 
		  data : data,
		  success: function(result){
			var array = JSON.parse(result);
			var number = array[0]["number"];
			var numOfArrays = array.length;
			var totalPrice = 0;
			
			$('#checkOutCartId').text("");
			for(var i in array){//iteration을 한다. 
			  	var item = "<li class=\"list-group-item d-flex justify-content-between lh-condensed\"><div>";
			  	 	item += "<h6 class=\"my-0\">" + array[i]["product_name"] + "</h6>";
	              	item += "<small class=\"text-muted\">" + array[i]["store_name"] + "</small></div>";
	                item += "<span class=\"text-muted\">" + array[i]["price"] + "원 "+ "</span>";
	                item += "<span class=\"text-muted\">" + array[i]["number"] + "개" + "<button type = \"button\" onclick=\"addToCartCheckout('"+  array[i]["product_name"] + "','"+ array[i]["store_name"] +"','" + array[i]["chain_name"] + "'," +  array[i]["price"] +")\">+</button><button type = \"button\" onclick=\"minusToCartCheckout('" +array[i]["product_name"] + "','"+ array[i]["store_name"] +"','"+ array[i]["chain_name"] + "'," +array[i]["price"] +")\">-</button></span>  </li>";
	                item += "";
				  	$('#checkOutCartId').prepend(item);
					totalPrice += array[i]["price"] * array[i]["number"];
			}
			
			var totalPriceElement = "<li class=\"list-group-item d-flex justify-content-between\"><span>총액 : </span>"
				totalPriceElement += "<strong id=\"strongTotalId\">19000</strong><button id=\"checkOutId\">&nbsp;주문하기</button></li>";
            
            
          
			
			$('#checkOutCartId').append(totalPriceElement);
		  	document.querySelector("#strongTotalId").innerHTML = totalPrice;
		  },
            error: function(result){
            	alert("error 는" + result);
            }
	});
}
function minusToCartCheckout(product_name,store_name, chain_name,price){//장바구니를 더한다. 그리고 그에 따른 포인트 정보도 뺀다. 
	alert(store_name);
	data = "product_name=" + product_name + "&price=" + price + "&sign=plus" + "&store_name=" + store_name+ "&chain_name=" + chain_name;
	$.ajax({//세션 만들어서 return 한다. 
		  url: "cartProductMinus",
		  method: "POST", 
		  data : data,
		  success: function(result){
			  	if(result == "notExisting"){
			  		alert("notExistgin");
					return;	
			  	}else if(result == "noData"){// 모든 데이터 삭제한 경우 
				  	document.querySelector("#navbar-menu > ul > li:nth-child(1) > a > span").innerHTML = 0;
				  	document.getElementById("cartList").innerHTML = "<li><a href=\"/checkOut.html\" class=\"more\" >장바구니</a></li>";//먼저 있던 내용을 다 지운다 
				  	return;
			  	}
			  	var array = JSON.parse(result);
				var number = array[0]["number"];
				var numOfArrays = array.length;
				var totalPrice = 0;
				$('#checkOutCartId').text("");//원래있던 엘리먼트 지우기 

				for(var i in array){//iteration을 한다. 
				  	var item = "<li class=\"list-group-item d-flex justify-content-between lh-condensed\"><div>";
				  	 	item += "<h6 class=\"my-0\">" + array[i]["product_name"] + "</h6>";
		              	item += "<small class=\"text-muted\">" + array[i]["store_name"] + "</small></div>";
		                item += "<span class=\"text-muted\">" + array[i]["price"] + "원 "+ "</span>";
		                item += "<span class=\"text-muted\">" + array[i]["number"] + "개" + "<button type = \"button\" onclick=\"addToCartCheckout('"+  array[i]["product_name"] + "','"+ array[i]["store_name"] +"','" + array[i]["chain_name"] + "'," +  array[i]["price"] +")\">+</button><button type = \"button\" onclick=\"minusToCartCheckout('" +array[i]["product_name"] + "','"+ array[i]["store_name"] +"','"+ array[i]["chain_name"] + "'," +array[i]["price"] +")\">-</button></span>  </li>";
		                item += "";
					  	$('#checkOutCartId').prepend(item);
						totalPrice += array[i]["price"] * array[i]["number"];
				}
				var totalPriceElement = "<li class=\"list-group-item d-flex justify-content-between\"><span>총액 : </span>"
					totalPriceElement += "<strong id=\"strongTotalId\">19000</strong><button id=\"checkOutId\">&nbsp;주문하기</button></li>";
	            
	            
	          
				
				$('#checkOutCartId').append(totalPriceElement);

			  	document.querySelector("#strongTotalId").innerHTML = totalPrice;
		  },
          error: function(result){
          }
	});
}
	//이 function에서 sub 장바구니 ( 로그인정보 옆에 있는 장바구니) 를 hide 시킨다. 
	$(function(){
		document.querySelector('#navbar-menu > ul > li:nth-child(1)').style.visibility = "hidden";
		
		//장바구니 정보 refresh한다. 
		$.ajax({//세션 만들어서 return 한다. 
			  url: "cartProductBring",
			  method: "POST", 
			  success: function(result){
				if(result == "noCart"){
					alert("noCart");
					return;
				}
				var array = JSON.parse(result);
				var number = array[0]["number"];
				var numOfArrays = array.length;
				var totalPrice = 0;
				var totalIndex = 0;
				for(var i in array){//iteration을 한다. 
				  	var item = "<li class=\"list-group-item d-flex justify-content-between lh-condensed\"><div>";
				  	 	item += "<h6 class=\"my-0\">" + array[i]["product_name"] + "</h6>";
		              	item += "<small class=\"text-muted\">" + array[i]["store_name"] + "</small></div>";
		              	item += "<small class=\"text-muted\">" + array[i]["chain_name"] + "</small></div><br>";
		                item += "<span class=\"text-muted\">" + array[i]["price"] + "원 "+ "</span>";
		                item += "<span class=\"text-muted\">" + array[i]["number"] + "개" + "<button type = \"button\" onclick=\"addToCartCheckout('"+  array[i]["product_name"] + "','"+ array[i]["store_name"] +"','" + array[i]["chain_name"] + "'," +  array[i]["price"] +")\">+</button><button type = \"button\" onclick=\"minusToCartCheckout('" +array[i]["product_name"] + "','"+ array[i]["store_name"] +"','"+ array[i]["chain_name"]  + "'," +array[i]["price"] +")\">-</button></span>  </li>";
		                item += "";
					  	$('#checkOutCartId').prepend(item);
						totalPrice += array[i]["price"] * array[i]["number"];
						console.log(totalPrice);
				}
			  	document.querySelector("#strongTotalId").innerHTML = totalPrice;
				
	            //
	               
			  
			  },
	            error: function(result){
	            	alert("error 는" + result);
	            }
		});
	});
	
function userPoint(point, chain_name){
	alert($('#strongTotalId').html() +" " +point);
	console.log("총 가격은" + $('#strongTotalId').html());
	$('#strongTotalId').html($('#strongTotalId').html()-point);
	//
}
function checkOutCart(){
	//포인트 차감 정보를 서버에 올리고
	//서버에서 point_store를 만들고
	//orders, ordersdetail 만든다. 
}

</script>
<body>
	        <div class="col-md-4 order-md-2 mb-4">
          <h4 class="d-flex justify-content-between align-items-center mb-3">
            <span class="text-muted">장바구니</span>
          </h4>
          <ul class="list-group mb-3" id = "checkOutCartId">
            <!-- thymeleaf 로 point 정보를 가져오겠다 장바구니 아이템의 chain_name 기반으로  -->
            <li class="list-group-item d-flex justify-content-between" th:each= "data, iterStat: ${arrayList}">
              <span>포인트  : </span>
              <strong th:text = "${data.getChain_name()}" th:id="|point${iterStat.index}|">$20</strong>
              <strong th:text = "${data.getPoint()}" >$20</strong>
              <button th:attr="onclick=|userPoint(${data.getPoint()}, '${data.getChain_name()}')|" >사용</button>
            </li>
              <tr th:each="data, iterstat: ${mois}">
     			<td th:text="${data}" th:id="|td${iterstat.index}|"></td>
  			  </tr>
            <li class="list-group-item d-flex justify-content-between">
              <span>총액 : </span>
              <strong id = "strongTotalId">$20</strong>
              <button id = "checkOutId" onclick="checkOutCart()" >&nbsp주문하기</button>
            </li>
          </ul>

        </div>
	
</body>
</html>