<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>Insert title here</title>
</head>
<script>
var pointsArray = new Array();//포인트 정보 저장 

//이 function에서 sub 장바구니 ( 로그인정보 옆에 있는 장바구니) 를 hide 시킨다. 

function cartProductElments(array){
	var totalPrice =0;
	for(var i in array){//iteration을 한다. 
	  	var item = "<li class=\"list-group-item d-flex justify-content-between lh-condensed\"><div>";
  		item += "<h6 class=\"my-0\" id = \""+ array[i]["chain_name"]+"_name"+ i +"\" >" + array[i]["product_name"] + "</h6>";
  	 	item += "<h6 class=\"my-0\" id = \""+ array[i]["chain_name"]+"_price"+i+"\" hidden>" + array[i]["price"] + "</h6>";
  	 	item += "<h6 class=\"my-0\" id 	= \""+ array[i]["chain_name"]+"_quantity"+i+"\" hidden>" + array[i]["number"] + "</h6>";
          	
	  	 	item += "<small class=\"text-muted\" id = \"my"+ array[i]["chain_name"]+ i +"\">" + array[i]["store_name"] + "</small></div>";
          	item += "<small class=\"text-muted\">" + array[i]["chain_name"] + "</small></div><br>";
            item += "<span class=\"text-muted\"  id =\""+array[i]["chain_name"]+"개"+"\"  >" + array[i]["price"]*array[i]["number"] + "원 "+ "</span>";
            item += "<span class=\"text-muted\">" + array[i]["number"] + "개" + "<button type = \"button\" onclick=\"addToCartCheckout('"+  array[i]["product_name"] + "','"+ array[i]["store_name"] +"','" + array[i]["chain_name"] + "'," +  array[i]["price"] +")\">+</button><button type = \"button\" onclick=\"minusToCartCheckout('" +array[i]["product_name"] + "','"+ array[i]["store_name"] +"','"+ array[i]["chain_name"]  + "'," +array[i]["price"] +")\">-</button></span>  </li>";
            item += "";
		  	$('#checkOutCartId').prepend(item);
			totalPrice += array[i]["price"] * array[i]["number"];
	}
	return totalPrice;
}



$(function(){
		var numOfPoints = 0;//point 순회하는 index
		numOfPoints = document.querySelectorAll("[id^=\"myPoint\"]");
		[].forEach.call(numOfPoints, function(index) {
			  console.log("가격은" + index.innerHTML + " index는" + index + "index의 type은 " + typeof index);
			  pointsArray.push(index.innerHTML);
			  console.log("typeof는 " + typeof index.innerHTML);
		});
		
		document.querySelector('#navbar-menu > ul > li:nth-child(1)').style.visibility = "hidden";
		//장바구니 정보 refresh한다. 
		$.ajax({//세션 만들어서 return 한다. 
			  url: "cartProductBring",
			  method: "POST", 
			  success: function(result){
				if(result == "noCart"){
					alert("noCart");
					return;
				}
				var array = JSON.parse(result);
				var number = array[0]["number"];
				var numOfArrays = array.length;
				var totalPrice = 0;
				var totalIndex = 0;
				
				totalPrice = cartProductElments(array);
				
				
				
				
			  	document.querySelector("#strongTotalId").innerHTML = totalPrice;
				
	            //
	               
			  
			  },
	            error: function(result){
	            	alert("error 는" + result);
	            }
		});
});


function addToCartCheckout(product_name,store_name,chain_name,price){//체크아웃 전용  장바구니 정보와 포인트 정보를 가져와야한다. 이 함수가 실행 될때 마다 포인트 정보도 초기화 
	alert(product_name + " " + store_name + " " + price);
	data = "product_name=" + product_name + "&price=" + price + "&sign=plus" + "&store_name=" + store_name+ "&chain_name=" + chain_name;
	$.ajax({//세션 만들어서 return 한다. 
		  url: "cartProductAdd",
		  method: "POST", 
		  data : data,
		  success: function(result){
			var array = JSON.parse(result);
			var number = array[0]["number"];
			var numOfArrays = array.length;
			var totalPrice = 0;
			var pointClone = document.getElementById('pointListId').cloneNode( true );//totalListId
			$('#checkOutCartId').text("");//페이지 코드 refresh 한다. 
			
			
			
			
			totalPrice = cartProductElments(array);
			
			
			
			
			var totalPriceElement = "<li id = \"" + "totalListId" +"\" class=\"list-group-item d-flex justify-content-between\"><span>총액 : </span>"
				totalPriceElement += "<strong id=\"strongTotalId\">19000</strong><button id=\"checkOutId\" onclick=\"checkOutCart()\">&nbsp;주문하기</button>";
				totalPriceElement += "<form id=\"buyProductId\" th:action=\"@{buyProduct}\" th:object=\"${pointlist}\" method =\"post\"></form></li>";
			$('#checkOutCartId').append(pointClone);//포인트 정보 가져오기 
			$('#checkOutCartId').append(totalPriceElement);//총 가격 가져오기 
			document.querySelector("#strongTotalId").innerHTML = totalPrice;
			//포인트의 point 초기화 
			
			
			var numOfPoints;//포인트 개수
			var myIndex = 0;//나의 인덱스
			
			numOfPoints = document.querySelectorAll("[id^=\"myPoint\"]");//
			
			[].forEach.call(numOfPoints, function(index) {
				  console.log("가격은" + index.innerHTML);
				  index.innerHTML = pointsArray[myIndex];
				  pointsArray.push(index.innerHTML);
				  console.log("typeof는 " + typeof index.innerHTML);
				  myIndex++;//인덱스 증가
			});
		  },
            error: function(result){
            	alert("error 는" + result);
            }
	});
}

function minusToCartCheckout(product_name,store_name, chain_name,price){//장바구니를 더한다. 그리고 그에 따른 포인트 정보도 뺀다. 
	alert(store_name);
	data = "product_name=" + product_name + "&price=" + price + "&sign=plus" + "&store_name=" + store_name+ "&chain_name=" + chain_name;
	$.ajax({//세션 만들어서 return 한다. 
		  url: "cartProductMinus",
		  method: "POST", 
		  data : data,
		  success: function(result){
			  	if(result == "notExisting"){
			  		alert("notExistgin");
					return;	
			  	}else if(result == "noData"){// 모든 데이터 삭제한 경우 
				  	document.querySelector("#navbar-menu > ul > li:nth-child(1) > a > span").innerHTML = 0;
				  	document.getElementById("cartList").innerHTML = "<li><a href=\"/checkOut.html\" class=\"more\" >장바구니</a></li>";//먼저 있던 내용을 다 지운다 
				  	return;
			  	}
			  	var array = JSON.parse(result);
				var number = array[0]["number"];
				var numOfArrays = array.length;
				var totalPrice = 0;
				var pointClone = document.getElementById('pointListId').cloneNode( true );//포인트 엘리먼트 복사 
				var totalClone = document.getElementById('totalListId').cloneNode( true );//총가격 엘리먼트 복사 
				
				$('#checkOutCartId').text("");//원래있던 엘리먼트 지우기 
				
				
				
				totalPrice = cartProductElments(array);
				
				
				
				
				
				var totalPriceElement = "<li id = \"" + "totalListId" +"\" class=\"list-group-item d-flex justify-content-between\"><span>총액 : </span>"
					totalPriceElement += "<strong id=\"strongTotalId\">19000</strong><button id=\"checkOutId\" onclick=\"checkOutCart()\">&nbsp;주문하기</button>";
					totalPriceElement += "<form id=\"buyProductId\" th:action=\"@{buyProduct}\" th:object=\"${pointlist}\" method =\"post\"></form></li>";
	          	
				$('#checkOutCartId').append(pointClone);//포인트 정보
				$('#checkOutCartId').append(totalPriceElement);//포인트 정보
			  	document.querySelector("#strongTotalId").innerHTML = totalPrice;
		  },
          error: function(result){
          }
	});
}
	
var chain_nameIndex = 0;

function userPoint(point, chain_name, point_id,useOrNot){//point 사용정보를 input태그 hidden에 넣기   point --> 포인트 사용 , 체인 이름, 사용 할 지 안 할지 
	var chain_namePoint = document.querySelectorAll("[id=\""+ chain_name + "개"+"\"]");//개를 붙인것은 아래에서 chain_name id가 겹쳐서 
	var chain_total_price = 0;
	
	[].forEach.call( chain_namePoint, function(el) {//체인네임 기준으로 물건의 값을 계산한다. 
		chain_total_price += parseInt(el.innerHTML);
	});
	
	if(chain_total_price > point){// 체인의 토탈 가겨이 포인트보다 높을 때 
		
	}else{//체인 총가격이 point 보다 낮을 때 point = point - chain_total_price가 된다. 
		point = point - chain_total_price;
	}
	
	if($("#"+ chain_name+"").length == 1){//element 존재할 때  point를 사용 할 것인지 아닌지 판단
		if(useOrNot == 1){//사용하기
			$("#"+ chain_name).val("1");
		}
		else{//미사용하기 
			$('#strongTotalId').html(parseInt($('#strongTotalId').html())+point);//원래 값으로 돌리기 
			$("#"+ chain_name).val(0);
		}
	}else if($("#"+ chain_name).length == 0){// element 존재 하지 않을 때 point 사용 할 것인지 아닌지 판단
		var chain_nameNum = "chain_name[" + chain_nameIndex + "]";// chain_name[0]이런식으로 하는 이유는 스프링의 object에서 chain_name[1]이런식으로 받아드리기 때문이다. 
		var useOrNotNum = "useOrNot[" +chain_nameIndex +"]";
		var pointNum = "point[" +chain_nameIndex +"]";
		var point_idNum =  "point_id[" +chain_nameIndex +"]";
		var totalPriceNum = "totalPrice[" +chain_nameIndex +"]";

		//아래 두개의 변수는 특정 체인의 프로덕트 이름과 가격의 엘리먼트를 가져오기 위한 변수이다. 
		var chain_productName = document.querySelectorAll("[id^=\""+chain_name+"_name\"]");//banapresso_name
		var chain_productPrice = document.querySelectorAll("[id^=\""+chain_name+"_price\"]");//banapresso_price
		var chain_productQuantity = document.querySelectorAll("[id^=\""+chain_name+"_quantity\"]");//banapresso_quantity

		if(useOrNot == 1){//사용하기
			$('#buyProductId').append("<input type=\"hidden\" value=\"" +useOrNot+"\" name = \"" + useOrNotNum +"\"  id=\""+chain_name +"\"></input>");//포인트 쓸거다라고 하는 것 
			$('#buyProductId').append("<input type=\"hidden\" value=\"" +chain_name+"\" name = \"" + chain_nameNum +"\"  id=\""+chain_name +"\"></input>");//포인트 쓸거다라고 하는 것 
			$('#buyProductId').append("<input type=\"hidden\" value=\"" +point+"\" name = \"" + pointNum +"\"  id=\""+chain_name +"\"></input>");//포인트 쓸거다라고 하는 것 
			$('#buyProductId').append("<input type=\"hidden\" value=\"" +point_id+"\" name = \"" + point_idNum +"\"  id=\""+chain_name +"\"></input>");//포인트 쓸거다라고 하는 것 
			$('#buyProductId').append("<input type=\"hidden\" value=\"" +chain_total_price+"\" name = \"" + totalPriceNum +"\"  id=\""+chain_name +"\"></input>");//포인트 쓸거다라고 하는 것 
			var store_name = document.querySelector("[id^=\"my"+ chain_name+"\"]");//한개
			var store_nameNum = "store_name[0]";// store_name[0] store_name[1] 이런식이 컨트롤러의 pointlist 옵젝트에 들어간다. 
			store_name = store_name.innerHTML;//banapresso, 행신감자탕 등등 
			$('#buyProductId').append("<input type=\"hidden\" value=\"" +store_name+"\" name = \"" + store_nameNum +"\"  id=\""+chain_name +"\"></input>");//포인트 쓸거다라고 하는 것 
			
			
			var productNameNum;
			var productPriceNum;
			var productQuantityNum;

			var indexCall = 0;
			[].forEach.call( chain_productName, function(el) {
				var callName = el.innerHTML;
				productNameNum = "productName[" +chain_nameIndex +"]";
				productNameNum += "["+indexCall+"]";
				indexCall++;
				$('#buyProductId').append("<input type=\"hidden\" value=\"" +callName+"\" name = \"" + productNameNum +"\"  id=\""+chain_name +"\"></input>");//포인트 쓸거다라고 하는 것 
			});
			indexCall = 0;
			[].forEach.call( chain_productPrice, function(el) {
				var callPrice = el.innerHTML;
				productPriceNum = "productPrice[" +chain_nameIndex +"]";
				productPriceNum += "["+indexCall+"]";
				indexCall++;

				$('#buyProductId').append("<input type=\"hidden\" value=\"" +callPrice+"\" name = \"" + productPriceNum +"\"  id=\""+chain_name +"\"></input>");//포인트 쓸거다라고 하는 것 
			});
			indexCall = 0;
			[].forEach.call( chain_productQuantity, function(el) {
				var callQuantity = el.innerHTML;
				productQuantityNum = "productQuantity[" +chain_nameIndex +"]";
				productQuantityNum += "["+indexCall+"]";
				indexCall++;
				console.log(productQuantityNum + " ");
				$('#buyProductId').append("<input type=\"hidden\" value=\"" +callQuantity+"\" name = \"" + productQuantityNum +"\"  id=\""+chain_name +"\"></input>");//포인트 쓸거다라고 하는 것 
			});
			$('#strongTotalId').html(parseInt($('#strongTotalId').html())-point);//원래 값으로 돌리기 
		}
		else{//미사용하기  value=\"yes&"+chain_name+"\"    th:value=\"*{" +chain_name+"}\"
			$('#buyProductId').append("<input type=\"hidden\" value=\"" +useOrNot+"\" name = \"" + useOrNotNum +"\" id=\""+chain_name +"\"></input>");//포인트 쓸거다라고 하는 것 
			$('#buyProductId').append("<input type=\"hidden\" value=\"" +chain_name+"\" name = \"" + chain_nameNum +"\" id=\""+chain_name +"\"></input>");//포인트 쓸거다라고 하는 것 
			$('#buyProductId').append("<input type=\"hidden\" value=\"" +point+"\" name = \"" + pointNum +"\" id=\""+chain_name +"\"></input>");//포인트 쓸거다라고 하는 것 
			$('#buyProductId').append("<input type=\"hidden\" value=\"" +point_id+"\" name = \"" + point_idNum +"\"  id=\""+chain_name +"\"></input>");//포인트 쓸거다라고 하는 것 
			$('#buyProductId').append("<input type=\"hidden\" value=\"" +chain_total_price+"\" name = \"" + totalPriceNum +"\"  id=\""+chain_name +"\"></input>");//포인트 쓸거다라고 하는 것 
			var store_name = document.querySelector("[id^=\"my"+ chain_name+"\"]");//한개
			var store_nameNum = "store_name[0]";// store_name[0] store_name[1] 이런식이 컨트롤러의 pointlist 옵젝트에 들어간다. 
			store_name = store_name.innerHTML;//banapresso, 행신감자탕 등등 
			$('#buyProductId').append("<input type=\"hidden\" value=\"" +store_name+"\" name = \"" + store_nameNum +"\"  id=\""+chain_name +"\"></input>");//포인트 쓸거다라고 하는 것 
		
		
			var productNameNum;
			var productPriceNum;
			var productQuantityNum;
			var indexCall = 0;
			[].forEach.call( chain_productName, function(el) {
				var callName = el.innerHTML;
				productNameNum = "productName[" +chain_nameIndex +"]";
				productNameNum += "["+indexCall+"]";
				indexCall++;
				$('#buyProductId').append("<input type=\"hidden\" value=\"" +callName+"\" name = \"" + productNameNum +"\"  id=\""+chain_name +"\"></input>");//포인트 쓸거다라고 하는 것 
			});
			indexCall = 0;
			[].forEach.call( chain_productPrice, function(el) {
				var callPrice = el.innerHTML;
				productPriceNum = "productPrice[" +chain_nameIndex +"]";
				productPriceNum += "["+indexCall+"]";
				indexCall++;

				$('#buyProductId').append("<input type=\"hidden\" value=\"" +callPrice+"\" name = \"" + productPriceNum +"\"  id=\""+chain_name +"\"></input>");//포인트 쓸거다라고 하는 것 
			});
			indexCall = 0;
			[].forEach.call( chain_productQuantity, function(el) {
				var callQuantity = el.innerHTML;
				productQuantityNum = "productQuantity[" +chain_nameIndex +"]";
				productQuantityNum += "["+indexCall+"]";
				indexCall++;
				console.log(productQuantityNum + " ");
				$('#buyProductId').append("<input type=\"hidden\" value=\"" +callQuantity+"\" name = \"" + productQuantityNum +"\"  id=\""+chain_name +"\"></input>");//포인트 쓸거다라고 하는 것 
			});
			
		}
		chain_nameIndex++;//포인트 체인이름 
	}
}
function checkOutCart(){
	//포인트 차감 정보를 서버에 올리고
	//서버에서 point_store를 만들고
	//orders, ordersdetail 만든다. 
	document.getElementById("buyProductId").submit();//사용한 point정보, 사는 물건정보를 컨트롤러에 올린다. 
}

</script>
<body>
	        <div class="col-md-4 order-md-2 mb-4">
          <h4 class="d-flex justify-content-between align-items-center mb-3">
            <span class="text-muted">장바구니</span>
          </h4>
          <ul class="list-group mb-3" id = "checkOutCartId">
            <!-- thymeleaf 로 point 정보를 가져오겠다 장바구니 아이템의 chain_name 기반으로  -->
            <li id = "pointListId" class="list-group-item d-flex justify-content-between" th:each= "data, iterStat: ${arrayList}">
              <span>포인트  : </span>
              <strong th:text = "${data.getChain_name()}" >$20</strong>
              <strong th:text = "${data.getPoint()}"  th:id="|myPoint${iterStat.index}|" >$20</strong>
              <button th:attr="onclick=|userPoint(${data.getPoint()}, '${data.getChain_name()}', '${data.getPoint_id()}',1, )|" >사용</button>
              <button th:attr="onclick=|userPoint(${data.getPoint()}, '${data.getChain_name()}', '${data.getPoint_id()}',0)|" >미사용</button>
            </li>
            <li id = "totalListId" class="list-group-item d-flex justify-content-between">
              <span>총액 : </span>
              <strong id = "strongTotalId">$20	</strong>
              <button id = "checkOutId" onclick="checkOutCart()" >&nbsp주문하기</button>
              <form id="buyProductId" th:action="@{buyProduct}" th:object="${pointlist}" method ="post">
			  </form>
            </li>
			<li id = "li1"></li>
			<li id = "li1"></li>
          </ul>
        </div>
</body>
</html>