<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout">
<head>
	<!-- static의 index.html은 backup file이고 이게 진짜 로그인 페이지 -->
	<!-- cookie 구현 완성되었다.  -->
	<!-- 버튼 클릭하면 ok.perform에서 안드로이드로 id, password 데이터 넘겨 -->
	<meta charset="utf-8">
	<meta name="author" content="Kodinger">
	<meta name="viewport" content="width=device-width,initial-scale=1">
	<title>My Login Page</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="css/my-login.css">
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
	<script src="js/my-login.js"></script>
	
</head>
<script>

	$(function(){
		console.log(getCookie("users_id"));
		document.getElementById("users_id").value = getCookie("users_id");
		//쿠키를 가져와서 id에 기입한다. 
	});
	
	//쿠키 관련한 것 , 웹 브라우저의 저장소에 id를 저장한다. 
	function getCookie(cname) {
		  var name = cname + "=";
		  var decodedCookie = decodeURIComponent(document.cookie);
		  var ca = decodedCookie.split(';');
		  for(var i = 0; i <ca.length; i++) {
		    var c = ca[i];
		    while (c.charAt(0) == ' ') {
		      c = c.substring(1);
		    }
		    if (c.indexOf(name) == 0) {
		      return c.substring(name.length, c.length);
		    }
		  }
		  return "";
		}

	
	//일정 기간 동안 쿠키를 저장한다. 
	function setCookie(cname, cvalue, exdays) {
		  var d = new Date();
		  d.setTime(d.getTime() + (exdays*24*60*60*1000));// 몇일동안 존재하는지 기입 
		  var expires = "expires="+ d.toUTCString();
		  document.cookie = cname + "=" + cvalue + ";" + expires + ";path=/";

	}
	
	function buttonClicked(){
		//submit 하기 전에 이 함수가 호출되고 호출 하고 submit 한다. 쿠키를 overwrite하기 때문에reset하는 것과 create 하는 것과 동일하다. 
		if(document.getElementById("remember").checked == true){
			var users_id = document.getElementById("users_id").value;
			setCookie("users_id",users_id,3);
		}
		
		
		var isMobileCheck = (/Android|iPhone|iPad|iPod|BlackBerry|IEMobile|Windows Phone/i.test(navigator.userAgent)) ? true : false;

		if(isMobileCheck == true){//안드로이드에서 들어온 경우 ---> 이 것이 있어야지 안드로이드 웹뷰 css가 안 깨진다. 
			//안드로이드에서 읽는 부분
			var strl = document.getElementById("password").value + "&" + document.getElementById("users_id").value;
			ok.performClick(strl);		
		}else{
			//pc에서 들어온 부분 
		}
	
		
		
		document.getElementById("formId").submit();//post를 submit한다. 
	}


</script>
<body class="my-login-page">
	<section class="h-100">
		<div class="container h-100">
			<div class="row justify-content-md-center h-100">
				<div class="card-wrapper">
					<div class="brands" style = "height:80px;width:400px">
					</div>
					<div class="card fat">
						<div class="card-body">
							<h4 class="card-title">Login</h4>
							<form method="POST" class="my-login-validation" novalidate="" action="/">
								<div class="form-group">
									<label for="email">전화번호(-없이 입력)</label>
									<!--  바로 아래의 th:value를 userVO로 바꾸니 에러가 사라졌다.-->
									<input id="users_id" class="form-control"  type="tel" pattern="[0-9]{11}" name="users_id" required autofocus>
									<div class="invalid-feedback"> <!-- 패턴에 맞지 않으면 보여진다. html 처리  -->
										올바른 형식을 입력하세요
									</div>
								</div>								
								<div class="form-group">
									<label for="password">비밀번호
										<a href="forgot.html" class="float-right">
											비밀번호 찾기
										</a>
									</label>
									<input id="password" type="password" class="form-control" name="users_password" required data-eye>
								    <div class="invalid-feedback">
								  	  	Password is required
							    	</div>
								</div>
								<div th:if="${login != null}">
								   <div>아이디 혹은 비밀번호가 잘못 되었습니다.</div>
								</div>
								<div th:unless="${login != null}">
								   <div></div>
								</div>
								<div class="form-group">
									<div class="custom-checkbox custom-control">
										<input type="checkbox" name="remember" id="remember" class="custom-control-input">
										<label for="remember" class="custom-control-label">Remember Me</label>
									</div>
								</div>
								
								<div class="form-group m-0">
									<button type="submit" onclick="buttonClicked();" class="btn btn-primary btn-block">
										Login
									</button>
								</div>
								
								
								<div class="mt-4 text-center">
									회원가입 : <a href="/register.html">회원가입 </a>
								</div>
								<div class="mt-4 text-center">
									안드로이드 apk 파일 다운로드 <a href="/download.html">다운로드</a>
								</div>
							</form>
							
						</div>
					</div>
					<div class="footer">
						장민재
					</div>
				</div>
			</div>
		</div>
	</section>
</body>
</html>