<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout">
<head>
	<meta charset="utf-8">
	<meta name="author" content="Kodinger">
	<meta name="viewport" content="width=device-width,initial-scale=1">
	<title>My Login Page</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="css/my-login.css">
</head>
<script>
	function getValues(){
		
		//onclick 해도 이 함수로 안 넘어와 
		var string = document.getElementById("password").value + "&" + document.getElementById("email").value;
		ok.performClick(string);		
		//ok.performClick은 무엇 인지 모르겠어 
	}

</script>
<body class="my-login-page">
	<section class="h-100">
		<div class="container h-100">
			<div class="row justify-content-md-center h-100">
				<div class="card-wrapper">
					<div class="brands" style = "height:80px;width:400px">
					</div>
					<div class="card fat">
						<div class="card-body">
							<h4 class="card-title">Login</h4>
							<form method="POST" class="my-login-validation" novalidate="" action="/">
								<div class="form-group">
									<label for="email">전화번호(-없이 입력)</label>
									<!--  바로 아래의 th:value를 userVO로 바꾸니 에러가 사라졌다.-->
									<input id="email" class="form-control"  type="tel" pattern="[0-9]{11}" name="users_id" required autofocus>
									<div class="invalid-feedback"> <!-- 패턴에 맞지 않으면 보여진다. html 처리  -->
										올바른 형식을 입력하세요
									</div>
								</div>								
								<div class="form-group">
									<label for="password">비밀번호
										<a href="forgot.html" class="float-right">
											비밀번호 찾기
										</a>
									</label>
									<input id="password" type="password" class="form-control" name="users_password" required data-eye>
								    <div class="invalid-feedback">
								  	  	Password is required
							    	</div>
								</div>
								
								
								<div th:if="${login != null}">
								   <div>아이디 혹은 비밀번호가 잘못 되었습니다.</div>
								</div>
								<div th:unless="${login != null}">
								   <div></div>
								</div>
								
								<div class="form-group">
									<div class="custom-checkbox custom-control">
										<input type="checkbox" name="remember" id="remember" class="custom-control-input">
										<label for="remember" class="custom-control-label">Remember Me</label>
									</div>
								</div>
								
								<div class="form-group m-0">
									<button type="submit" onclick="getValues();" class="btn btn-primary btn-block">
										Login
									</button>
								</div>
								<div class="mt-4 text-center">
									Don't have an account? <a href="/register.html">Create One</a>
								</div>
							</form>
						</div>
					</div>
					<div class="footer">
						Copyright &copy; 2020 &mdash; Made By Jang Minjae
					</div>
				</div>
			</div>
		</div>
	</section>
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
	<script src="js/my-login.js"></script>
</body>
</html>