<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>Insert title here</title>
</head>
<body>
	<div class="input-group" style = "width:50%">
		<input id = "searchStoreId" type="text" value="" class="form-control" placeholder="매장검색">
		<span class="input-group-btn"><button id="searchId" type="button" class="btn btn-primary">Go</button></span>
	</div>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	
	<script>
	$("#searchId").on("click", function(){

		data = "chain=" + $('#searchStoreId').val();
		console.log(data);
		$.ajax({
            url: "searchStore",
            type: "POST",
            data: data,
            success: function(data){
				alert(data);
            },
            error: function(data){
				console.log(data);
            }
        });

	});

	</script>
</body>
</html>