<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>Insert title here</title>
</head>
<body>
	<div class="input-group" style = "width:50%">
		<input id = "searchStoreId" type="text" value="" class="form-control" placeholder="매장검색">
		<span class="input-group-btn"><button id="searchId" type="button" class="btn btn-primary">Go</button></span>
	</div>
		<div .table-responsive>
	  		<table border="1" class = "table table-bordered table-hover">
				<th>매장명</th>
	    	</table>
		</div>
	</div>
	<script>
	$("#searchId").on("click", function(){
		data = "chain=" + $('#searchStoreId').val();
		$.ajax({
            url: "searchStore",
            type: "POST",
            data: data,
            dataType: "json",
            success: function(data){
                for(var i=0; i<data.length; i++){
                	$('th').append("<tr><td>"+ data[i].store_name + "</td></tr>");
                }
                console.log(data[0]);
            },
            error: function(data){
				console.log("에러는" + data);
            }
        });
	});
	</script>
	
</body>
</html>