<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>Insert title here</title>
</head>
<!-- admin이 회원을 체크하는 컨트롤러 회원 검색 ,회원 정보 파악, owner 수정하기 -->
<script>
	function userIdCheck(){
		var userId = document.getElementById("searchUserId").value;
		if(userId == '' || userId.length < 11){
			alert("11자리 아이디를 입력해주세요");
		}//아이디에 아무 값이 없으면 함수 종료한다. 그리고 wrongOrNot에 적혀진 값이 있으면 이를 없앤다.
		else{
			document.getElementById("myForm").submit();
		}
	}
	//owner에 chain_name, store_name 할당하기 
	function assignOwner(value){
		var x = document.getElementById(value);
		
		if(x == null)return;
		
		if(x.style.visibility == "visible"){
			document.getElementById(value).style.visibility = "hidden";
		}
		else if(x.style.visibility == "hidden"){
			x.style.visibility = "visible";
		}
	}
	
	function showOwnerInfo(users_id, store_name){
		//input 그룹의 element의 content 지우고 owner의 chain_name, store_name을 가져오고 없으면 할당한다. 
		//이 것은 ajax를 통해서 한다.
		//usercheck 코드 초기화

		$('#input-group').empty();

		// stop for sometime if needed

		//아래의 텍스트는 users_id와 store_name을 표시하는 테이블을 나타낸다. 
		//만약 store_name이 null 이면 버튼을 눌러 chain_name과 store_name을 지정한다. 
		if(store_name == 'null'){//store_name 미정일 때 
			//ajax로 서버로 store_name, chain_name 전송하기 
			var addedText = "<div><table class=\"table\">";
			addedText += "<h4>store_name은 chain_지점명 형태로 지정합니다. ex)burgerking_sinchon </h4>";
			addedText +=  "<thead><tr><th scope=\"col\">chain_name</th><th scope=\"col\">store_name</th></tr></thead><tbody><tr>";
			addedText +=  "<td id = \"chain_nameId\"><input></td>";
			addedText +=  "<td id=\"store_nameId\"><input></td>";
			addedText += "</tr><tr><td style = \"padding-top:1em\">"+"회원 : " + users_id+"</td><td><button value = \""+users_id+"\" id = \"users_idButton\" class=\"btn btn-primary\""
			addedText += "onclick=\"sendToServer(&quot;"+users_id+"&quot;)\">submit</button></td></tr></tbody></table></div>";
		}else{//store_name 정해져 있을 때
			var addedText = "<table class=\"table\">";
			addedText +=  "<thead><tr><th scope=\"col\">users_id</th><th scope=\"col\">store_name</th></tr></thead><tbody><div>";
			addedText +=  "<td>"+ users_id+ "</td>";
			addedText +=  "<td id=\"store_nameId\">" + store_name + "</td></div></tr></tbody></table>";
		}
		$('#input-group').html(addedText);
		
	}
	
	//chain_name ,store_name 서버에 등록하기 
	function sendToServer(users_id){
		var chain_name = document.querySelector("#chain_nameId > input").value;
		var store_name = document.querySelector("#store_nameId > input").value;
		var patt = /^\S+_\S+$/gi;//store_name regex 규칙 할당 ---> 행신감자탕_행신 이런식으로 해야 한다. 
		var result = patt.test(store_name);
		if(result == true){}
		else{alert("잘못된 형식입니다.");
		return;}
		
		$.ajax({
		    type: 'POST',
		    url: 'updateownerinfo',
		    data: { 
		    	'users_id': users_id,
		        'chain_name': chain_name, 
		        'store_name': store_name // <-- the $ sign in the parameter name seems unusual, I would avoid it
		    },
		    success: function(msg){
		    	//성공하면 등록 완료 했습니다. 표시를 띄운다.
		    	if(msg == "success"){
		    		$('#input-group').html("");
		    		//등록 완료하였습니다. 등록 완료 버튼에 admain 페이지로 가는 것 href 정하기 
		    		$('#input-group').html("<div>등록 완료하였습니다.</div>");
		    	}else{
		    		//chain_name, store_name 중복된 경우에 사용
		    		$('#input-group').html("");
		    		//등록 완료하였습니다. 출력
		    		$('#input-group').html("<div>등록 완료하였습니다.</div>");
		    	}
		    }
		    
		});
	}
	
</script>

<body>	
	<div id="input-group" style = "width:50%" th:fragment="usercheck">
		
		<div  th:if="${search != null}">
			<form id = "myForm" action = "usercheck.html" method="POST">
				<input id = "searchUserId" type="text" name = "users_id" value="" class="form-control" placeholder="회원ID_입력">
				<span class="input-group-btn">
					<button id="searchId" onclick ="userIdCheck()" type = "button" class="btn btn-primary"> 회원 검색   </button>
				</span>
			</form> 
			<div>
				<form action = "usercheck.html" method = "POST">
					<button id="searchId" type="submit" class="btn btn-primary"> 모든 회원 </button>
				</form>
			</div>
		</div>
		<div th:unless="${search != null}">
			<div th:if = "${userVOs != null and !userVOs.empty}">
				<p><br>파란색 회원은 지점 주인입니다. <br> 파란색 회원을 클릭하여 체인과 상점을 설정합니다.</p>
				<table class="table">
				  <thead>
				    <tr>
				      <th scope="col">#</th>
				      <th scope="col">users_id</th>
				      <th scope="col">users_name</th>
				      <th scope="col">role</th>
				      <th scope="col" hidden>owner_info</th>
				    </tr>
				  </thead>
				  <tbody>
					  <tr th:each="userVO, iterStat : ${userVOs}" >
						  		<div th:if="*{userVO.role == 'owner' || userVO.role == 'owner_first'}"><!-- owner 이거나 owner_first 일 때 owner_first는 체인 대표다 -->
								  	<td style="color:blue;" th:attr="onclick=|assignOwner('id*{iterStat.index}')|" th:text="*{iterStat.index}">Onions</td>
								  	<td style="color:blue;" th:attr="onclick=|assignOwner('id*{iterStat.index}')|" th:text="*{userVO.users_id}">Onions</td>
									<td style="color:blue;" th:attr="onclick=|assignOwner('id*{iterStat.index}')|"  th:text="*{userVO.users_name}">2.41</td>
									<td style="color:blue;" th:attr="onclick=|assignOwner('id*{iterStat.index}')|" th:text="*{userVO.role}">yes</td>
									<td style="color:blue; visibility:hidden;"  th:attr="onclick=|assignOwner('id*{iterStat.index}')|"    th:id="'id'+*{iterStat.index}"><!-- 여기 왜 th:id 가 필요하지?? -->                   
										<button th:attr="onclick=|showOwnerInfo('${userVO.users_id}', '${userVO.store_name}')|">
										상세정보
										</button>
									</td>
								</div>
						  		<div th:unless="*{userVO.role == 'owner' || userVO.role == 'owner_first'}">
									  	<td th:text="*{iterStat.index}">Onions</td>
									  	<td th:text="*{userVO.users_id}">Onions</td>
										<td th:text="*{userVO.users_name}">2.41</td>
										<td th:text="*{userVO.role}">yes</td>
								</div>
					  		</div>
					  </tr>
				  </tbody>
				</table>
			</div>
			<div th:unless = "${ userVOs != null and !userVOs.empty}">
				<div th:if = "${search == null}">찾으시는 회원이 존재하지 않습니다.</div>
			</div>
		</div>
	</div>
	
</body>
</html>