<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.sirenorder.mapper.ChainMapper">
	<select id="selectByChainName" resultType="chain"><!-- orders의 마지막 시퀸스 번호를 찾기 -->
		select * from chain where chain_name = #{chain_name}
	</select>
	<insert id="insert">
    	<selectKey keyProperty="seq" resultType="int" order="BEFORE">
    		select chain_seq.nextval as seq from dual
    	</selectKey>
    	INSERT INTO CHAIN VALUES( #{chain_id}||#{seq}, #{chain_name}, #{point_rate})
    </insert>
    <update id = "updatePoint_rate">
    	UPDATE CHAIN
    	SET POINT_RATE = #{point_rate}
    	WHERE CHAIN_NAME = #{chain_name}
    </update>
</mapper>
