<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.sirenorder.mapper.Orders_detailJoinProductMapper">
	<resultMap id="product" type="Orders_detailJoinProduct">
	    <result property="orders_detail_id" column="ORDERS_DETAIL_ID" />
	    <result property="price" column="PRICE" />
	    <result property="quantity" column="QUANTITY" />
	    <result property="orders_id" column="ORDERS_ID" />
	    <result property="product_id" column="PRODUCT_ID" />
	    <result property="status" column="STATUS" />
	    <result property="seq" column="SEQ" />
<!-- javaType : "객체를 속성으로 가지고있는 해당 객체의 CamelCase명 또는, @Alias("키값")" -->
<!-- property : "객체참조변수명" -->
<!-- id : "PK" -->
	    <association property="productVO" javaType="product">
	         <id property="product_id" column="PRODUCT_ID" />
	         <result property="product_name" column="PRODUCT_NAME" />
	         <result property="chain_name" column="CHAIN_NAME" />
	         <result property="image" column="IMAGE" />
	         <result property="price" column="PRICE" />
	         <result property="seq" column="SEQ" />
	    </association>
	</resultMap>
	<select id = "selectOrdersStatus"  parameterType="com.example.common.Pagination" resultMap="product">
		select * from 
		(
			select A.*, rownum r, B.chain_name
			from orders_detail A, product B
			where A.status = 'not_done' and A.product_id = B.product_id
		)
		 where r &gt;= #{startList} and r &lt; #{startList} + #{listSize}
		 <!-- where r &gt;= #{startList} and r &lt; #{startList} + #{listSize} -->
	</select>
		<select id = "selectOrders_detailCnt" resultType="int">
			select count(*) from orders_detail where status = 'not_done'
	</select>
</mapper>

