<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.sirenorder.mapper.Point_storeMapper">
    <select id="selectPoint_store" resultType="point_store">
		SELECT * 
		FROM POINT_STORE
		WHERE USERS_ID = #{users_id} AND CHAIN_NAME = #{chain_name}
    </select>	
    <insert id ="insert">	
        <selectKey keyProperty="seq" resultType="int">
    		select point_store_seq.nextval as seq from dual
    	</selectKey>
    	INSERT INTO POINT_STORE
        	 VALUES( #{point_store_id}||#{seq}, #{point_id}, #{store_id},
    	  #{users_id}, #{chain_name}, #{point_date}, #{used_point})
    </insert>
</mapper>