<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.sirenorder.mapper.ProductMapper">
    <select id="selectProduct" resultType="product">
		SELECT * 
		FROM PRODUCT
		WHERE (CHAIN_NAME = #{chain_name}) AND (ROWNUM &lt; 1 + #{number}*6) AND (ROWNUM &gt; (#{number}-1)*6)
    </select>
    <select id="deleteProduct">
		SELECT * 
		FROM PRODUCT
		WHERE PRODUCT_NAME = #{product_name} AND CHAIN_NAME = #{chain_name}
    </select>
    <insert id="insert" parameterType = "product">
    	<selectKey keyProperty="seq" resultType="int">
    		select product_seq.nextval as seq from dual
    	</selectKey>
    	INSERT INTO PRODUCT VALUES( #{product_id}||#{seq}, #{product_name}, #{chain_name}, #{price})
    </insert>
</mapper>