<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.sirenorder.mapper.Store_productMapper">
	<delete id="deleteStore_productByProduct_name">
		delete from store_product where product_name = #{product_name}
	</delete>
    <select id="selectByStore_name" resultType="store_product">
		SELECT * 
		FROM STORE_PRODUCT
		WHERE STORE_NAME = #{store_name}
    </select>
    <insert id="insert" parameterType = "store_product">
    	<selectKey keyProperty="seq" resultType="int"  order="BEFORE">
    		select store_product_seq.nextval as seq from dual
    	</selectKey>
    	INSERT INTO STORE_PRODUCT VALUES( #{store_product_id}||#{seq}, #{store_id}, #{product_id}, #{store_name}, #{chain_name}, #{product_name})
    </insert>
    
	
	    
    <select id="selectListCnt" resultType = "int">
    	SELECT count(*) as listCnt from store_product where store_name = #{store_name}
    </select>
    <!-- id : "JOIN 하는 POJO 클래스의 CamelCase명 또는, @Alias("키값")" -->
	<!-- type : "FROM 대상인 POJO 클래스의 CamelCase명 또는, @Alias("키값")" -->
	<!-- column : "DB 컬럼명" -->
	<!-- property: "type에 적힌 POJO클래스의 속성명" -->
    <resultMap id="product" type="Store_productJoinProduct">
		<result property="store_product_id" column="STORE_PRODUCT_ID" /><!-- column은 대문자 -->
		<result property="store_id" column="STORE_ID" />
		<result property="product_id" column="PRODUCT_ID" />
		<result property="store_name" column="STORE_NAME" />
		<result property="chain_name" column="CHAIN_NAME" />
		<result property="product_name" column="PRODUCT_NAME" />
		<result property="seq" column="SEQ" />
		<!-- javaType : "객체를 속성으로 가지고있는 해당 객체의 CamelCase명 또는, @Alias("키값")" -->
		<!-- property : "객체참조변수명" -->
		<!-- id : "PK" -->
		<association property="productVO" javaType="product">
			<id property="product_id" column="PRODUCT_ID" />
			<result property="product_name" column="PRODUCT_NAME" />
			<result property="chain_name" column="CHAIN_NAME" />
			<result property="image" column="IMAGE" />
			<result property="price" column="PRICE" />
			<result property="seq" column="SEQ" />
		</association>
	</resultMap>
    <select id = "selectProductListJoin" resultMap = "product">    	
    <!-- rownum은 데이터베이스 데이터에 순번을 매기는 것이다. -->
    <!-- 조인할 때  두 테이블의 * 로 다 가져오면 겹친다.  -->
    	 SELECT * from
		 (
			 select A.*, rownum r, B.image, B.price
			 from store_product A, product B 
			 where A.STORE_NAME = #{store_name} AND A.PRODUCT_ID = B.PRODUCT_ID 
		 )
		 where r &gt;= #{startList} and r &lt; #{startList} + #{listSize}
    </select>
    
    <select id = "selectSequence" resultType = "int">    	
    	 SELECT * from
		 (
			 select A.*, rownum r, B.image, B.price
			 from store_product A, product B 
			 where A.STORE_NAME = #{store_name} AND A.PRODUCT_ID = B.PRODUCT_ID 
		 )
		 where r &gt;= #{startList} and r &lt; #{startList} + #{listSize}
    </select>
    
    
    <select id = "selectLastId" resultType = "string">
    	select STORE_PRODUCT_ID FROM STORE_PRODUCT WHERE rowid=(select max(rowid) from STORE_PRODUCT) 
    </select>
    
	
	<delete id="deleteMultiple" parameterType="java.util.List">
	    DELETE FROM STORE_PRODUCT
	    <where>
	    <foreach collection="list" item="item" open="" close="" separator="OR">
	        (PRODUCT_NAME = #{item}  )
	    </foreach>
	    </where>
	</delete>
	
</mapper>