<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.sirenorder.mapper.UserMapper">
    <select id="select" resultType="users">
		SELECT * 
		FROM USERS
		WHERE USERS_ID = #{users_id}
    </select>
    <select id="selectall" resultType="users">
    	SELECT * 
		FROM USERS
    </select>
    <update id="update">
        UPDATE USERS
       	SET 
       	USERS_PASSWORD = #{users_password},
       	USERS_ADDRESS = #{users_address},
       	USERS_NAME = #{users_name}
        WHERE USERS_ID = #{users_id}
    </update>
    <delete id="delete" parameterType="String">
		DELETE USERS 
		WHERE USERS_ID = #{users_id}
    </delete>
    <insert id = "insert"><!-- 가능하다 parameterType이 없어도  -->
    	INSERT INTO USERS
    	 VALUES(#{users_id}, #{users_password}, #{users_name},
    	  #{users_address}, #{sex}, #{role}, #{store_name})
    </insert>
</mapper>