<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.sirenorder.mapper.UserMapper">
    <select id="select" resultType="users">
		SELECT * 
		FROM USERS
		WHERE USERS_ID = #{users_id}
    </select>
    
	<resultMap id="usersjoined" type="OrdersJoinUsers">
	    <result property="orders_id" column="ORDERS_ID" />
	    <result property="orders_date" column="ORDERS_DATE" />
	    <result property="payment_way" column="PAYMENT_WAY" />
	    <result property="total_price" column="TOTAL_PRICE" />
	    <result property="users_id" column="USERS_ID" />
	    <result property="seq" column="SEQ" />
<!-- javaType : "객체를 속성으로 가지고있는 해당 객체의 CamelCase명 또는, @Alias("키값")" -->
<!-- property : "객체참조변수명" -->
<!-- id : "PK" -->
	    <association property="userVO" javaType="users">
	         <id property="users_id" column="USERS_ID" />
	         <result property="users_password" column="USERS_PASSWORD" />
	         <result property="users_name" column="USERS_NAME" />
	         <result property="users_address" column="USERS_ADDRESS" />
	         <result property="sex" column="SEX" />
	         <result property="role" column="ROLE" />
	         <result property="store_name" column="STORE_NAME" />
	         <result property="token" column="TOKEN" />
	    </association>
	</resultMap>

    <select id="selectToken" resultType="string">
		SELECT A.TOKEN 
		FROM USERS A, ORDERS B
		WHERE B.ORDERS_ID = #{orders_id} and B.USERS_ID = A.USERS_ID
    </select>
    
    <select id="selectall" resultType="users">
    	SELECT * 
		FROM USERS
    </select>
    <update id="update">
        UPDATE USERS
       	SET 
       	USERS_PASSWORD = #{users_password},
       	USERS_ADDRESS = #{users_address},
       	USERS_NAME = #{users_name}
        WHERE USERS_ID = #{users_id}
    </update>
    <update id="updateStore_name">
        UPDATE USERS
       	SET STORE_NAME = #{store_name}
        WHERE USERS_ID = #{users_id}
    </update>
    <update id="updateToken">
        UPDATE USERS
       	SET 
       	TOKEN = #{token}
        WHERE USERS_ID = #{users_id}
    </update>
    <delete id="delete" parameterType="String">
		DELETE USERS 
		WHERE USERS_ID = #{users_id}
    </delete>
    <insert id = "insert"><!-- 가능하다 parameterType이 없어도  -->
    	INSERT INTO USERS
    	 VALUES(#{users_id}, #{users_password}, #{users_name},
    	  #{users_address}, #{sex}, #{role}, #{store_name}, #{token})
    </insert>
</mapper>